* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(25, 14, 53);  
    font-family: 'Asap', sans-serif;
}

header {
    background-color: rgb(20, 20, 20);
    border-bottom: 2px solid rgb(48, 40, 97);
    display: table;
    height: 100px;
    padding: 20px;
    width: 100%;
}

header > h1 {
    color: #2fa80b;
    font-family: 'Bangers';
    font-family: 'Orbitron', sans-serif;
    font-size: 34px;
    font-weight: 100;
    padding-bottom: 10px;
    text-align: left;
    text-shadow: 0px 1px 1px #ffffff, 1px 2px 1px #3eda0e, 3px 2px 1px rgb(105, 14, 232), 2px 3px 1px rgb(105, 14, 232), 4px 3px 1px rgb(105, 14, 232), 3px 4px 1px #3eda0e, 5px 4px 1px rgb(105, 14, 232), 4px 5px 1px rgb(105, 14, 232), 6px 5px 1px rgb(105, 14, 232);
}

h1 {
    display: table-cell;
    padding: 0 0 0 40px;
    vertical-align: middle;
}

button {
    margin: 4px 30px 0 0 ;
}

#new-game {
    animation: AnimationName 3s ease infinite;
    background: linear-gradient(180deg, #2fa80b, #c0f3b1);
    border-radius: 30px;
    box-shadow: 5px 2px 2px rgb(105, 14, 232);
    cursor: pointer;
    float: right;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    overflow:hidden;
    padding: 10px;
    text-align: center;
    width: 160px;
    -webkit-animation: AnimationName 3s ease infinite;
}

.badge {
    background-color: rgb(105, 14, 232);
    color: white;
    font-size: 14px;
    padding: 2px 10px;
}

#user-label {
    left: -60px;
    position: absolute;
    top: 30px;
}

#comp-label {
    position: absolute;
    right: -76px;
    top: 30px;
}

.choices {
    font-size: 20px;
    height: auto;
    text-align: center;
}

img {
    border-radius: 30%;
    height: 158px;
    max-height: 258px;
    max-width: 258px;
    width: 160px;
}

.rock:hover {
    cursor: pointer;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    z-index: 0;
}

.paper:hover {
    cursor: pointer;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    z-index: 0;
}

.scissors:hover {
    cursor: pointer;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    z-index: 0;
}

#action-message {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.wrapper {
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.your-choice-header {
    align-items: flex-end;
    color: #3eda0e;
    display: flex;
    font-family: 'Orbitron', sans-serif;
    font-size: 26px;
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
    text-shadow: rgb(56, 55, 55) 0px 0px 2px, #3eda0e 0px 0px 5px, #3eda0e 0px 0px 10px;
}

.result-header {
    color: white;
    display: flex;
    justify-content: center;
}

 .scoreboard {
    border: 3px solid white;
    border-radius: 4px;
    color: white;
    display: flex;
    grid-column: 3 / 5;
    grid-row: 1;
    height: 90px;
    font-size: 46px;
    margin: 20px auto;
    padding: 15px 20px;
    text-align: center;
    position: relative;
}

#main {
    font-size: 38px;
    font-weight: bold;
    grid-column: 3/5;
    grid-row: 2;
    text-align: center;
}

#sub {
    color: #3eda0e;
    font-size: 38;
    grid-column: 3/5;
    grid-row: 3;
    text-shadow: rgb(56, 55, 55) 0px 0px 2px, #3eda0e 0px 0px 5px, #3eda0e 0px 0px 10px;
}

.comp-choice-header {
    align-items: flex-end;
    color: #3eda0e;
    display: flex;
    font-family: 'Orbitron', sans-serif;
    font-size: 26px;
    grid-column: 5;
    grid-row: 1;
    justify-content: center;
    text-shadow: rgb(56, 55, 55) 0px 0px 2px, #3eda0e 0px 0px 5px, #3eda0e 0px 0px 10px;
}

.your-rock {
    grid-column: 2;
    grid-row: 2;
}

.your-paper {
    grid-column: 2;
    grid-row: 3;
}

.your-scissors {
    grid-column: 2;
    grid-row: 4;
}

.user-result-animation {
    grid-column: 3;
    grid-row: 3;
    transition-property: all 5s ease-in-out 5s;
}
.comp-result-animation {
    grid-column: 4;
    grid-row: 3;
    transition-property: all 5s ease-in-out 5s;
}

.comp-rock {
    grid-column: 5;
    grid-row: 2;
}

.comp-paper {
    grid-column: 5;
    grid-row: 3;
}

.comp-scissors {
    grid-column: 5;
    grid-row: 4;
}

.green-glow {
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 30px #31b43a;
}
 .red-glow {
    border: 4px solid #fc121b;
    box-shadow: 0 0 30px #d01115;
 }

 .grey-glow {
    border: 4px solid #919193;
    box-shadow: 0 0 30px #829096;
 }

.disable {
    pointer-events: none;
}

@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {

}