* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #24272E;
    font-family: 'Asap', sans-serif;
}

header {
    background-color: white;
    display: table;
    height: 100px;
    padding: 20px;
    width: 100%;
}

header > h1 {
    color: #25272E;
    text-shadow: 1px 0px 1px #2fa80b, 0px 1px 1px #2fa80b, 2px 1px 1px #CCCCCC, 1px 2px 1px #2fa80b, 3px 2px 1px #CCCCCC, 2px 3px 1px #2fa80b, 4px 3px 1px #CCCCCC, 3px 4px 1px #2fa80b, 5px 4px 1px #CCCCCC, 4px 5px 1px #2fa80b, 6px 5px 1px #CCCCCC, 5px 6px 1px #2fa80b, 7px 6px 1px #CCCCCC;
}

h1 {
    display: table-cell;
    padding: 0 0 0 40px;
    vertical-align: middle;
}

#new-game {
    -webkit-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
    background: linear-gradient(180deg, #2fa80b, #c0f3b1);
    border-radius: 30px;
    box-shadow: 10px 5px 5px #CCCCCC;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    overflow:hidden;
    padding: 8px;
    padding: 10px;
    width: 160px;
 }

.badge {
    background-color: #E25840;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
}

#user-label {
    left: -60px;
    position: absolute;
    top: 30px;
}

#comp-label {
    position: absolute;
    right: -76px;
    top: 30px;
}

.choices {
    font-size: 20px;
    height: auto;
    text-align: center;
}

img {
    border-radius: 30%;
    height: 158px;
    max-height: 258px;
    max-width: 258px;
    width: 160px;
}

.rock:hover {
    cursor: pointer;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    z-index: 0;
}

.paper:hover {
    cursor: pointer;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    z-index: 0;
}

.scissors:hover {
    cursor: pointer;
    transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    z-index: 0;
}

#action-message {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.wrapper {
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.your-choice-header {
    align-items: flex-end;
    display: flex;
    font-size: 30px;
    grid-column: 1;
    grid-row: 1;
    justify-content: center;
}

.result-header {
    align-items: flex-end;
    color: white;
    display: flex;
    grid-column: 2;
    grid-row: 1;
    justify-content: center;
}

#reset {
    margin: 20px auto;
    padding: 10px;
    position: relative;
    text-align: center;
 }

 .scoreboard {
    border: 3px solid white;
    border-radius: 4px;
    color: white;
    display: flex;
    grid-column: 2;
    grid-row: 1;
    font-size: 46px;
    margin: 20px auto;
    padding: 15px 20px;
    text-align: center;
    width: 112px;
    position: relative;
}

.result-header > p {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.comp-choice-header {
    align-items: flex-end;
    display: flex;
    font-size: 30px;
    grid-column: 3;
    grid-row: 1;
    justify-content: center;
}

.your-rock {
    grid-column: 1;
    grid-row: 2;
}

.your-paper {
    grid-column: 1;
    grid-row: 3;
}

.your-scissors {
    grid-column: 1;
    grid-row: 4;
}

.result-animation {
    grid-column: 2;
    grid-row: 3;
    transition-property: all 5s ease-in-out 5s;
}

.comp-rock {
    grid-column: 3;
    grid-row: 2;
}

.comp-paper {
    grid-column: 3;
    grid-row: 3;
}

.comp-scissors {
    grid-column: 3;
    grid-row: 4;
}

.green-glow {
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 30px #31b43a;
}
 .red-glow {
    border: 4px solid #fc121b;
    box-shadow: 0 0 30px #d01115;
 }

 .grey-glow {
    border: 4px solid #919193;
    box-shadow: 0 0 30px #829096;
 }

.disable {
    pointer-events: none;
}

@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}